<div class="container px-5">
    <div class="row justify-content-center">
        <div class="col-xxl-8 col-xl-10 col-lg-12">
            <div class="text-center my-5">
                <h2 class="display-5 fw-bolder">
                    <span class="text-gradient d-inline">Sobre mí</span>
                </h2>
                <p class="lead fw-light mb-4">
                    ¡Hola! Soy Mercedes y tengo más de 10 años de experiencia dando clases particulares.
                </p>
                <p class="text-muted">
                    Mis clases son 100% personalizadas y presenciales, diseñadas para adaptarse a tus
                    necesidades y ayudarte a alcanzar tus objetivos.
                    Trabajo con estudiantes de nivel universitario y terciario, ofreciendo preparación para
                    el ingreso a la Facultad de Ciencias Económicas (UNT)
                    y apoyo en las materias que cursas en la Universidad UNSTA, el I.E.S. Lola Mora, I.E.S.
                    Alfredo Coviello y el I.E.S. Manuel Marchetti.
                    Las clases son presenciales y se dictan exclusivamente en mi domicilio, en la zona oeste
                    de San Miguel de Tucumán. Aquí te ofrezco un espacio cómodo para aprender y mejorar en
                    tus estudios.
                </p>
            </div>
        </div>
    </div>
</div>